@import url('https://fonts.googleapis.com/css?family=Raleway');

//==================================
// GENERAL
//==================================
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: $color2;
    margin: 0px;
    padding: 0px;
    background: $color2;
    background-image: linear-gradient(to bottom, $opacityBackground1 0%,$opacityBackground1 100%), url("../../media/background1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;   
    background-attachment: fixed;
}

.app {
    padding: 3vw 5vw;
    margin: auto;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: $color6;
    padding: 5vw 2vw;
    margin: 0;
    &.mainTitle {
        border-bottom: 1px solid $color2;
    }
}

h2, h3 {
    margin: 1vw;
}

h2, h4 {
    font-weight: lighter;
}

h2 {
    font-size: 1.5em;
    color: $color5;
}

h3 {
    font-size: 1.2em;
}

h4 {
    margin: 2px;
    font-size: 1.1em;
}

p {
    font-size: 1.3em;
    color: $color5;
}

.heading {
    background: $color3;
    border-radius: 10px;
    padding-bottom: 5%;
    margin: 5% 0;
}

//==================================
// FORM
//==================================
input, button {
    display: block;
    color: $color2;
    padding: 8px 10px;
    border-style: none;
    border-radius: 3px;
    background: none;
    transition: all 0.2s ease-in-out;
    &:focus {
        outline: none;
        background: $color3;
    }
}

input {
    font-size: 1.3em;
    text-align: center;
    width: 50%;
    margin: 3% auto;
    border: 1px solid $color6;
    background: $color1;
    &:focus {
        width: 70%;
    }
    &::placeholder {
        color: $color4;
    }
}

button {
    font-size: 0.8em;
    margin: auto;
    border: 1px solid $color2;
    &:disabled {
        background: $color4;
        color: $color3;
    }
}

//==================================
//  FORECAST SECTION
//==================================
.cityInfo {
    border-bottom: 1px solid $color2;
    h1 {
        padding: 2vw 1vw 1vw;
    }
}

.todayDetail, .forecastSection {
    border-radius: 5px;
    padding: 2vw;
}

.todayDetail {
    border: 1px solid $color6;
    margin: 2vw 2vw;
}

.todaySection {
    margin: 3vw;
}

.forecastSection {
    background: $color4;
    padding-bottom: 5%;
}

.chart {
    rect.highcharts-background {
        fill: none;
    }
    tspan {
        font-family: 'Raleway', sans-serif !important;
        font-size: 1.5em;
        fill: $color5;
        font-weight: lighter;
    }
    .highcharts-xaxis-labels text tspan, .highcharts-yaxis-labels text {
        font-family: 'Raleway', sans-serif !important;
        fill: $color2 !important;
        font-weight: bold;
    }
    .highcharts-xaxis-labels text tspan {
        font-size: 0.8em !important;
    }
    .highcharts-yaxis-labels text {
        font-size: 1em !important;
    }
    .highcharts-legend-item tspan {
        font-size: 1.3em;
    }
}