@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: $color6;
    margin: 0px;
    padding: 0px;
    background: $color6;
    background-image: linear-gradient(to bottom, $opacityBackground1 0%,$opacityBackground1 100%), url("../../media/background3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;   
    background-attachment: fixed;
}

.app {
    margin: auto;
    padding: 3vw 5vw;
}

h1 {
    padding: 5vw 0 5vw 0;
    margin: 0px;
    color: $color7;
    font-size: 1.6em;
    font-weight: bold;
}

.heading {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    padding-bottom: 5%;
}

input, button {
    display: block;
    color: $color6;
    border-style: none;
    border-radius: 3px;
    background: none;
    padding: 8px 10px;
    transition: all 0.2s ease-in-out;
    &:focus {
        outline: none;
        background: $color8;
    }
}

input {
    margin: 3% auto;
    width: 50%;
    border: 1px solid $color7;
    font-size: 1.3em;
    text-align: center;
    &:focus {
        width: 70%;
    }
    &::placeholder {
        color: $color9;
    }
}

button {
    font-size: 0.8em;
    border: 1px solid $color6;
    margin: auto;
    &:disabled {
        background: $color9;
        color: $color8;
    }
}