//Contains variables for repeated styling used throughout

//============Colors
$color1: rgba(255, 255, 255, 0.1); //trans white
$color2: rgba(255, 255, 255, 1); //white
$color3: rgba(0, 0, 0, 0.2); //trans black
$color4: rgba(0, 0, 0, 0.4); //trans black
$color5: rgba(0, 0, 0, 1); //black
$color6: rgb(232, 178, 1); //yellow

$opacityBackground1: rgba(0,0,0,0.2) 100%;