//Contains variables for repeated styling used throughout

//============Colors
$color1: rgba(41, 114, 166, 0.8); //blue
$color2: rgba(155, 41, 166, 1); //purple
$color3: rgba(166, 93, 41, 1); //brown
$color4: rgba(52, 166, 41, 1 ); //green
$color5: rgba(0, 0, 0, 1); //black
$color6: rgba(255, 255, 255, 1); //white
$color7: rgb(232, 178, 1); //yellow
$color8: rgba(0, 0, 0, 0.2); //trans black
$color9: rgba(0, 0, 0, 0.5); //trans black

$opacityBackground1: rgba(0,0,0,0.2) 100%;