@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
  background: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 100% 0%, rgba(0, 0, 0, 0.2) 100% 100%), url("../../media/background3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed; }

.app {
  padding: 3vw 5vw;
  margin: auto; }

h1 {
  font-size: 1.6em;
  font-weight: bold;
  color: #e8b201;
  padding: 5vw 2vw;
  margin: 0; }
  h1.mainTitle {
    border-bottom: 1px solid white; }

h2, h3 {
  margin: 1vw; }

h2, h4 {
  font-weight: lighter; }

h2 {
  font-size: 1.5em;
  color: black; }

h3 {
  font-size: 1.2em; }

h4 {
  margin: 2px;
  font-size: 1.1em; }

p {
  font-size: 1.3em;
  color: black; }

.heading {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-bottom: 5%;
  margin: 5% 0; }

input, button {
  display: block;
  color: white;
  padding: 8px 10px;
  border-style: none;
  border-radius: 3px;
  background: none;
  transition: all 0.2s ease-in-out; }
  input:focus, button:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2); }

input {
  font-size: 1.3em;
  text-align: center;
  width: 50%;
  margin: 3% auto;
  border: 1px solid #e8b201;
  background: rgba(255, 255, 255, 0.1); }
  input:focus {
    width: 70%; }
  input::placeholder {
    color: rgba(0, 0, 0, 0.4); }

button {
  font-size: 0.8em;
  margin: auto;
  border: 1px solid white; }
  button:disabled {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.2); }

.cityInfo {
  border-bottom: 1px solid white; }
  .cityInfo h1 {
    padding: 2vw 1vw 1vw; }

.todayDetail, .forecastSection {
  border-radius: 5px;
  padding: 2vw; }

.todayDetail {
  border: 1px solid #e8b201;
  margin: 2vw 2vw; }

.todaySection {
  margin: 3vw; }

.forecastSection {
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 5%; }

.chart rect.highcharts-background {
  fill: none; }

.chart tspan {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1.5em;
  fill: black;
  font-weight: lighter; }

.chart .highcharts-xaxis-labels text tspan, .chart .highcharts-yaxis-labels text {
  font-family: 'Raleway', sans-serif !important;
  fill: white !important;
  font-weight: bold; }

.chart .highcharts-xaxis-labels text tspan {
  font-size: 0.8em !important; }

.chart .highcharts-yaxis-labels text {
  font-size: 1em !important; }

.chart .highcharts-legend-item tspan {
  font-size: 1.3em; }

@media only screen and (min-width: 481px) {
  body {
    font-size: 19px; }
  h1 {
    padding: 3vw; }
  input {
    width: 40%; }
    input:focus {
      width: 50%; }
  .todaySection {
    margin: 2vw; }
  .chart .highcharts-xaxis-labels text tspan, .chart .highcharts-yaxis-labels text {
    font-size: 1.2em !important; } }

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px; }
  h1 {
    padding: 2vw; }
  h2 {
    font-size: 1.1em; }
  .heading {
    padding-bottom: 2%; }
  input {
    margin: 2% auto;
    width: 30%; }
    input:focus {
      width: 40%; }
  .todayDetail {
    padding: 1vw;
    margin: 1vw 1vw; }
  .todaySection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1vw; }
  .forecastSection {
    padding: 5px; } }
